body {
  background-color: var(--color-bg);
}

.app {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
}

.app h1 {
  color: var(--primary-color);
}
.container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
li {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

a {
  margin-right: 3rem;
  color: var(--secondary-color);
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.movie {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  width: 250px;
  background-color: var(--secondary-color);
  margin: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.movie .poster {
  width: 100%;
  height: 250px;
}
.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie-details .box {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.movie-details .title {
  width: 160px;
  font-size: 15px;
  text-align: center;
}
.movie-details .overview {
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 100%;
  background-color: var(--secondary-color);
  opacity: 0.9;
  color: white;
  box-sizing: border-box;
  padding: 1rem;
  transition: all 0.4s ease-in-out;
  overflow-y: auto;
  transform: translateY(101%);
}
.movie-details:hover .overview {
  transform: translateY(0%);
}
.rating {
  background-color: var(--primary-color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid var(--primary-color);
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 5px;
  bottom: 5px;
}
